#main{

    background-image: url("../images/The new England Aquarium/bg-pattern.gif");
    background-size: 100%;
    margin: 0 auto;
    border: 1px red solid ;
}
#banner{

    width: 100%;
    height: 686px;
    background-image: url("../images/The new England Aquarium/A_HEADER-NEAQ-ret.jpg");
    background-size: 100%;
}
#toptext{

    height: 440px;
    width:80%;
    background-color: #ffffff;
    margin-left: 9.2%;
    margin-top: -80px;
}
#toptextleft{
    width: 65%;
    height:440px;
    float: left; border: red 1px solid;

}
#toptextright{
    border: red 1px solid;
    text-align: right;
    width: 28%;
    height:440px;
    float:left;
    padding-right: 3%;


}
#top{

    height: 570px;
    width:84%;
    background-image: url("../images/The new England Aquarium/B_Block12.jpg");
    background-size: 100%;
    margin-left: 8%;
}
#middlinner{
    height: ;
}
#middletext{
    border: red solid 3px;
    height: 335px;
    width:84%;
    margin-left: 8%;
}
#middletextleft{
    width: 45%;
    height: 335px;
    float:left;
}
#middletextright{
    width: 40%;
    height: 335px;
    float:right;
}
#middle{

    height: 655px;
    width:96%;
    margin-left: 2%;
    background-image: url("../images/The new England Aquarium/C_casestudy-neaq-blk2-1.jpg");
    background-size: 100%;
}
#mid-late{

    width:67% ;
    height:530px;
    background-image: url("../images/The new England Aquarium/D_Block32.jpg");
    background-size: 100%;
    margin-left: 22%;

}
#mid-latetext{
    width: 20%;
    boder:red solid 1px;
    height:150px
}
#bottom{

    height: 440px;
    width: 95%;
}
#bottom1{
    height: 440px;
    width: 17%;
    float: left;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}
#bottom2{

    height: 440px;
    width: 27.6%;
    background-image: url("../images/The new England Aquarium/THUMBS2.jpg");
    background-size: 100%;
    float: left;

}
#bottom3{

    height: 440px;
    width: 27.6%;
    background-image: url("../images/The new England Aquarium/THUMB_JFK_Ret_2.jpg");
    background-size: 100%;
    float: left;

}
#bottom4{

    height: 440px;
    width: 27.8%;
    background-image: url("../images/The new England Aquarium/THUMB_NA_ret.jpg");
    background-size: 100%;
    float: left;

}


